@page "/robot/{robotName}"
@using CatalogApp.Models
@inject RobotCatalog RobotCatalog

<a href="/">← Back to catalog</a>
<div>
    <img src="@_robot.ImageUrl" />
    <dl>
        <dt>Name</dt>
        <dd>@_robot.Name</dd>
        <dt>Price</dt>
        <dd>Ç @_robot.Price</dd>
        <dt>Quality</dt>
        <dd>@_robot.Quality</dd>
        <dt>Description</dt>
        <dd>@_robot.Description</dd>
    </dl>
</div>

@code {
    [Parameter]
    public string RobotName { get; set; }

    private Models.Robot _robot;

    protected override void OnInitialized()
    {
        _robot = RobotCatalog.Get(RobotName);
    }
}


